.container-messages {
    background: white;
    max-width: 800px;
    height: 85vh;
    overflow: auto;
    margin: 0 auto;
}

.message.received {
    text-align: left;
}

.message.send {
    text-align: right;
}

.messages {
    padding: 20px;
}
  
.message .inner {
    display: inline-block;
}
  
.message-received {
    text-align: left;
}

.message-send {
    text-align: right;
}

.column-messages {
    flex: 3;
  }
