@import '../../../node_modules/bulma/sass/utilities/_all.sass';

.messages-form {
    position: relative;
    
    .button {
        position: absolute;
        top: $size-4;
        right: $size-4;
    }
}

body {
    background: #f7f7f7;
    min-height: 100vh;
}