@import '../../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../../node_modules/bulma/sass/form/_all.sass';

$error-color: $orange;
$success-color: $green;

.input:valid {
    border-color: $success-color;
    box-shadow: $input-focus-box-shadow-size rgba($success-color, 0.25);
}

.login-form {
    padding-top: $block-spacing;
}