body {
	font-family: monospace;
	font-size: 1.5em;
	color: #333;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	/* border: 1px solid #ccc; */
}

.row {
	flex-direction: row;
}

.column-contacts {
  flex: 1;
}

.column-messages {
  flex: 3;
}

.message .inner,
.contacts, .contact {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.messages {
  padding: 20px;
}

.message .inner {
  display: inline-block;
}

.contact.selected {
  background: palevioletred;
}

.message-received {
  text-align: left;
}

.message-send {
  text-align: right;
}